@page
@model TransportOrderApp.Pages.Orders.DetailsModel
@{
    ViewData["Title"] = "Детали заказа";
}

<h2>Детали заказа</h2>

<div>
    <dl class="row">
        <dt class="col-sm-2">ID</dt>
        <dd class="col-sm-10">@Model.Order.Id</dd>
        <dt class="col-sm-2">Город отправителя</dt>
        <dd class="col-sm-10">@Model.Order.SenderCity</dd>
        <dt class="col-sm-2">Адрес отправителя</dt>
        <dd class="col-sm-10">@Model.Order.SenderAddress</dd>
        <dt class="col-sm-2">Город получателя</dt>
        <dd class="col-sm-10">@Model.Order.ReceiverCity</dd>
        <dt class="col-sm-2">Адрес получателя</dt>
        <dd class="col-sm-10">@Model.Order.ReceiverAddress</dd>
        <dt class="col-sm-2">Вес груза (кг)</dt>
        <dd class="col-sm-10">@Model.Order.Weight</dd>
        <dt class="col-sm-2">Дата забора груза</dt>
        <dd class="col-sm-10">@Model.Order.PickupDate.ToShortDateString()</dd>
    </dl>
</div>

<a asp-page="./Index" class="btn btn-primary">Назад к списку</a>